<div class="d-flex flex-wrap justify-content-center py-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">

  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">About</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Books</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Support</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="#">Sign up</a>
  </nav>
</div>
